<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyRoutine CI/CD TEST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/">
            📋 MyRoutine
        </a>

        <div class="d-flex">

            <a th:if="${loginUser == null}"
               class="btn btn-outline-primary me-2"
               href="/login">
                로그인
            </a>

            <a th:if="${loginUser == null}"
               class="btn btn-primary"
               href="/signup">
                회원가입
            </a>

            <a th:if="${loginUser != null}"
               class="btn btn-outline-secondary"
               href="/logout">
                로그아웃
            </a>

        </div>
    </div>
    </nav>

    <h1 class="text-center mb-4">MyRoutine</h1>

    <div th:if="${message}"
         class="alert alert-success"
         th:text="${message}">
    </div>

    <div class="alert alert-success">
        <strong>전체 완료율 :</strong>
        <span class="badge bg-success"
                th:text="${completionRate}"></span>%
    </div>

    <div class="alert alert-info" th:if="${loginUser == null}">
        루틴을 추가하려면 로그인하세요.
    </div>

    <div class="card mb-4" th:if="${loginUser != null}">
        <div class="card-body">
            <h4 class="card-title mb-3">
                루틴 추가
            </h4>

        <form action="/add" method="post">
        <div class="mb-3">
            <input class="form-control"
               type="text"
               name="title"
               placeholder="루틴 제목"
               required>
        </div>
        <div class="mb-3">
            <input class="form-control"
                   type="text"
                   name="description"
                   placeholder="설명">
        </div>

        <div class="mb-3">
            <input class="form-control"
                   type="date"
                   name="date"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    추가
                </button>
            </form>
        </div>
    </div>
    <h2>루틴 목록</h2>

    <a class="btn btn-outline-primary"
       href="/">전체</a>

    <a class="btn btn-outline-success"
       href="/?status=done">완료</a>

    <a class="btn btn-outline-warning"
       href="/?status=undone">미완료</a>

    <a class="btn btn-outline-info"
       href="/?status=today">오늘</a>

    <br><br>

    <form action="/" method="get" class="d-flex gap-2 mb-4">
        <input class="form-control"
               type="text"
               name="keyword"
               placeholder="검색어 입력" >

        <button class="btn btn-outline-primary" type="submit">검색</button>
    </form>
<br>
        <div class="card mb-3" th:each="routine : ${routines}">

            <div class="card-body">

                <h5 class="card-title">

                <span th:text="${routine.done ? '✅ 완료' : '⬜ 미완료'}"></span>

                <span th:style="${routine.done ? 'text-decoration: line-through;' : ''}"
                      th:text="${routine.title}">
                </span>

        </h5>

            <p class="card-text"
                    th:text="${routine.description}">
            </p>

            <small class="text-muted"
                   th:text="${routine.date}">
            </small>

                <hr>

            <form th:action="@{/edit/{id}(id=${routine.id})}" method="get" style="display:inline-block; margin-right:5px;">
                <button class="btn btn-warning btn-sm" type="submit">수정</button>
            </form>

            <form th:action="@{/toggle/{id}(id=${routine.id})}" method="post" style="display:inline-block; margin-right:5px;">
                <button class="btn btn-success btn-sm" type="submit" th:text="${routine.done ? '취소' : '완료'}"></button>
            </form>

            <form th:action="@{/delete/{id}(id=${routine.id})}"
                  method="post"
                  style="display:inline-block; margin-right:5px;">

                <button class="btn btn-danger btn-sm"
                        type="submit"
                        onclick="return confirm('정말 삭제하시겟습니까?');">
                    삭제
                </button>
            </form>
            </div>
        </div>
</div>
</body>
</html>